<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drzyl.sign.mapper.AccessMapper">
	<update id="modifyPassword">
		UPDATE
			SYS_ACCOUNT
		SET
			PASSWORD = #{password}
		WHERE
			MOBILE_PHONE_NUMBER = #{mobilePhoneNumber}
	</update>
</mapper>